* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: lightblue;
}

.container {
    text-align: center;
    height: auto;
    margin: auto;
    margin-top: 8%;
    width: 400px;
    padding: 10px;
    /* border: 2px solid dodgerblue; */
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 2px 2px rgb(150, 148, 148);
}

h1 {
    font-size: xx-large;
    margin: 5px 0px;
    color: #318DEA;
}

.todo-container {
    padding: 10px;
    height: auto;
    /* border: solid red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input[type="text"] {
    padding: 5px;
    height: 40px;
    width: 100%;
    font-size: 15px;
    border: 1.5px solid rgb(141, 141, 141);
    border-radius: 5px;

}

input[type="button"] {
    padding: 4px;
    height: 40px;
    width: 100%;
    border: solid #318DEA;
    border-radius: 5px;
    background-color: #318DEA;
    color: white;
    font-size: larger;
}

input[type="button"]:hover {
    background-color: #258ef7;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #3f4041;
}

#todo-tasks {
    /* border: 2px solid yellow; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-each-task{
    display: flex;
    margin: 2px;
    /* border: #3f4041 solid; */
}

.tasklist-div {
    margin: 5px;
    height: auto;
    width:75%;
    padding: 5px;
    font-size: 15px;
    text-align: justify;
    border-radius: 3px;
    /* border: 1px solid brown; */
    box-shadow: 1px 1px 2px 2px rgb(113, 113, 113);
    background-color: #F3F1F4;
}
.del-task{
    margin: 5px;
    flex: 1;
    /* width: 20%; */
    padding: 5px;
    font-size: 15px;
    border-radius: 3px;
    border: 0.5px solid #DC3545;
    box-shadow: 1px 1px 2px 2px rgb(113, 113, 113);
    box-shadow: 0.5px 0.5px 0.5px 0.5px #3f4041;
    background-color: #DC3545;
    color: white;
}
.del-task:hover{
    background-color: #d71c2e;
    cursor: pointer;
}

#total-task{
    text-align: left;
    color: red;
}